
h1 {
  color: white;
  font-family: "Georgia", serif; /* Georgia */
}

h2 {
  color: white;
}

p {
  color: white;
  line-height: 1.5;
  text-align: left;
  font-family: "Courier New", Courier, monospace; /* Courier New */
}